@font-face {
  font-family: Regular;
  src: url(/fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Medium;
  src: url(/fonts/Inter-Medium.ttf) format('truetype');
}

@font-face {
  font-family: SemiBold;
  src: url(/fonts/Inter-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: Bold;
  src: url(/fonts/Inter-Bold.ttf) format('truetype');
}
